/* @import "common.css"; */

iframe.cdidoc {
	height: 100%;
	/* height: 55vh; */
	max-width: 100%;
	width: 100%;
}

pre.code-wrapper {
	width: 100%;
}

/* change of sky.css */
:root {
  --r-heading-text-transform: none;
}

/* first slide */
div.slides > section:first-of-type {
	font-size: 80%;
}

/* width of main section in slides */
div.slides > section {
	width: 110% !important;
	margin-left: -5%;
}

p, .left-aligned {
	text-align: left;
}

.revealjs-font50p {
	font-size: 50%;
}

.revealjs-font70p {
	font-size: 70%;
}

/* .Xrevealjs-width-130 {
	width: 130%;
	margin-left: -15%;
} */

dl {
	display: grid !important;
}

dt {
	grid-column-start: 1 !important;
}

dd {
	grid-column-start: 2 !important;
}

dd > p {
	display: inline;
}

dt:first-of-type {
	margin-bottom: 1ex;
}

dl.field-list {
	font-size: 50%;
}

div.admonition.note {
	font-size: 40%;
}

.footnote-reference {
	font-size: 50%;
	vertical-align: super;
}

.footnote {
	font-size: 60%;
	margin-top: 2ex !important;
}

div.sd-card.wide {
	/* width: 120%;
	margin-left: -10%; */
	/* max-width: 80%;
	max-height: 60%; */
}

object.graphviz {
	/* height: auto; */
	/* width: max-content; */
	/* width: 90vw; */
	/* height: 90%;
	max-height: 90%;
	width: 80%; */
	max-width: 100%;
}

.subtitle {
	font-size: var(--r-heading3-size);
}

.subtitle > p, figcaption > p {
	text-align: center;
}

.opacity04 {
	opacity: 0.4;
}

ul.simple, ol.simple {
	/* width: 80vw; */
}

/* p + ul { */
/* p:has(+ ul) {
	margin-left: 3em !important;
} */

p + ul {
	margin-top: -0.5em !important;
}

div.sd-card-body > ul.simple, div.sd-card-body > ol.simple {
	/* width: 100%; */
	margin-left: 0;
}

li {
	font-size: 80%;
}

img.logo {
	/* max-height: 2em; */
	width: 30%;
	display: block;
	/* margin-left: auto;
	margin-right: auto; */
	/* vertical-align: middle; */
	/* margin-top: 0;
	margin-bottom: 0; */
	/* position: relative; */
    /* top: 0;
    bottom: 0; */
    margin: auto;
			/* float: right;
	margin-right: 3em !important; */
	/* margin-top: -0.5em !important; */
}

/* p:has(.floatright) {
	display: inline;
} */

img.diagraminline {
	width: 400px;
	float: inline;
}

iframe.external {
	height: 60vh;
	/* max-width: 100%; */
	width: 100%;
}

/* p.sd-card-text {
	font-size: 80%;
} */